<div id="container">
  <div id="logo">
     <h1>Business Professionals Networking</h1>
  </div>
  <div id="email-signup">
    <h2>Under Development :-(</h2>
    <p>We are currently working on the site. We apologize for any inconvenience this might have caused. Please enter your email address below and we will let you know when the site is back up. Thank you.</p>
    <%= render "mailform" %>
  </div>
</div>